# Exercise

In [7]:
import pandas as pd
df = pd.read_csv('carprices (1).csv')

# handling string(convert string to  true(1), false(0
))

In [8]:
dummies = pd.get_dummies(df['Car Model'])
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0     False    True                  False
1     False    True                  False
2     False    True                  False
3     False    True                  False
4     False    True                  False
5      True   False                  False
6      True   False                  False
7      True   False                  False
8      True   False                  False
9     False   False                   True
10    False   False                   True
11    False   False                   True
12    False   False                   True

# joining df to dummiese (sabko 1 me merge kr rha)

In [9]:
merged = pd.concat([df,dummies],axis='columns')
merged

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,False,True,False
1,BMW X5,35000,34000,3,False,True,False
2,BMW X5,57000,26100,5,False,True,False
3,BMW X5,22500,40000,2,False,True,False
4,BMW X5,46000,31500,4,False,True,False
5,Audi A5,59000,29400,5,True,False,False
6,Audi A5,52000,32000,5,True,False,False
7,Audi A5,72000,19300,6,True,False,False
8,Audi A5,91000,12000,8,True,False,False
9,Mercedez Benz C class,67000,22000,6,False,False,True
10,Mercedez Benz C class,83000,20000,7,False,False,True
11,Mercedez Benz C class,79000,21000,7,False,False,True
12,Mercedez Benz C class,59000,33000,5,False,False,True

# deleting car model column and mercediz Benz c class column

In [28]:
final = merged.drop(index=0)
final

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
1,BMW X5,35000,34000,3,False,True,False
2,BMW X5,57000,26100,5,False,True,False
3,BMW X5,22500,40000,2,False,True,False
4,BMW X5,46000,31500,4,False,True,False
5,Audi A5,59000,29400,5,True,False,False
6,Audi A5,52000,32000,5,True,False,False
7,Audi A5,72000,19300,6,True,False,False
8,Audi A5,91000,12000,8,True,False,False
9,Mercedez Benz C class,67000,22000,6,False,False,True
10,Mercedez Benz C class,83000,20000,7,False,False,True
11,Mercedez Benz C class,79000,21000,7,False,False,True
12,Mercedez Benz C class,59000,33000,5,False,False,True

# deleting sell price also

In [29]:
x = final.drop('Sell Price($)',axis='columns')
x

,Car Model,Mileage,Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
1,BMW X5,35000,3,False,True,False
2,BMW X5,57000,5,False,True,False
3,BMW X5,22500,2,False,True,False
4,BMW X5,46000,4,False,True,False
5,Audi A5,59000,5,True,False,False
6,Audi A5,52000,5,True,False,False
7,Audi A5,72000,6,True,False,False
8,Audi A5,91000,8,True,False,False
9,Mercedez Benz C class,67000,6,False,False,True
10,Mercedez Benz C class,83000,7,False,False,True
11,Mercedez Benz C class,79000,7,False,False,True
12,Mercedez Benz C class,59000,5,False,False,True

# y ko sell price assing kr rha

In [30]:
y = final['Sell Price($)']
y

1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

# using linearRegression

In [31]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

fitting model

In [32]:
model.fit(x,y)

ValueError: could not convert string to float: 'BMW X5'

checking model performance

In [ ]:
model.score(x,y)

0.8596776106881645

price of mercedez benz that is 4 year old with milage 45000

In [ ]:
model.predict([[45000,4,0,0]])

c:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: X has 4 features, but LinearRegression is expecting 3 features as input.